@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

    <!-- Right Part of Menu -->
<ul class="navbar-nav">


    @if (SignInManager.IsSignedIn(User))
        {

             <div class="uk-navbar-right">
                 
                 @*<a class="uk-navbar-toggle tm-navbar-button" href="#"
                            uk-search-icon></a>*@



                        <div class="uk-navbar-dropdown uk-padding-small uk-margin-remove"
                            uk-drop="mode: click;cls-drop: uk-navbar-dropdown;boundary: .tm-navbar-container;boundary-align: true;pos: bottom-justify;flip: x">
                        </div>
                        
                        @if(User.IsInRole("Administrator"))
                        {
                            <a class="uk-navbar-item uk-link-muted uk-visible@m tm-navbar-button"
                                asp-action="Administrator" asp-controller="Admin"><span uk-icon="database"/></a>
                        }
                            
                        <a
                            class="uk-navbar-item uk-link-muted tm-navbar-button" 
                             asp-action="Collection_Index" asp-controller="Collection"
                            uk-icon="user">
                        </a>
                        @User.Identity?.Name

                        <!-- User Settings -->
                        <div class="uk-padding-small uk-margin-remove"
                            uk-dropdown="pos: bottom-right; offset: -10; delay-hide: 200;" style="min-width: 150px;">
                            <ul class="uk-nav uk-dropdown-nav">



                                <li><a asp-action="Collection_Index" asp-controller="Collection">Collections</a></li>
                                <li><a asp-action="User_CollectionItems" asp-controller="Item">Items</a></li>
                                <li class="uk-nav-divider"></li>

                                <li><a href="favorites.html">Favorites
                                        <span>(3)</span></a></li>
                                <li><a href="personal.html">Personal</a></li>
                                <li><a href="settings.html">Settings</a></li>
                            </ul>
                        </div>
                        
                       @* <a class="uk-navbar-item uk-link-muted tm-navbar-button" href="cart.html"
                            uk-toggle="target: #cart-offcanvas" onclick="return false"><span uk-icon="cart"></span><span
                                class="uk-badge">2</span></a>*@

                           <a
                            class="uk-navbar-item uk-link-muted tm-navbar-button" 
                            asp-action="LogOut" asp-controller="Home"
                            uk-icon="sign-out">

                        </a>

                    </div>


        }

    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Home" asp-action="SignIn">SignIn</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Home" asp-action="Registration">Registration</a>
        </li>
    }
</ul>
